* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;

}

body {
    min-height: 100vh;
    background-color: #fff;

}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
}

/*Navigation*/


header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #d16913;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header .logo {
    font-weight: bolder;
    font-size: 25px;
    margin-left: 10px;
    color: #333;
}

header .navbar ul {
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
    font-size: 20px;
    padding: 10px;
    display: block;

}

header .navbar ul li a {
    font-size: 15px;
    padding: 10px;
    display: block;
    color: #333;
    border-radius: 5px;
    font-weight: bolder;
}

header .navbar ul li a:hover {
    background: #333;
    color: #fff;
    transition: 1s;
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: #fff;
    display: none;
}

header .navbar ul li ul li {

    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);

}

header .navbar ul li ul li ul {
    left: 200px;
    top: 0px;
}

header .navbar ul li:focus-within>ul,
header .navbar ul li:hover>ul {
    display: initial;
}

#menu-bar {
    display: none;
}

header label {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
}


button {
    margin-top: 10px;
    margin-left: 5px;
    padding: 10px;
    border-radius: 10px;

}

button a {
    color: #333;
    font-weight: bolder;

}

button a:hover {
    color: #d16913;
    transition: 1s;
}













@media(max-width:991px) {


    /* navigation */

    header {
        padding: 20px;
    }

    header label {
        display: initial;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        display: none;
    }

    header .navbar ul li {
        width: 100%;
    }

    header .navbar ul li ul {
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li {
        background: #eee;
    }

    header .navbar ul li ul li ul {
        width: 100%;
        left: 0;
    }

    #menu-bar:checked~.navbar {
        display: initial;
    }

    /* sec1 */



}


/* sec1 */

.sec1 {
    width: 100%;
    min-height: 100vh;
    background-image: url(https://s1.1zoom.me/big0/206/GTA_5_Skyscrapers_Los_465512.jpg);
    background-size: cover;
    background-position: center;
    display: flex;


    background-repeat: no-repeat;

}

.sec1 .section-1 {
    width: 100%;
    min-height: 100vh;



}

.sec1 .section-1 .apresenta {
    color: black;
    min-width: 320px;
    width: 50%;
    height: 70vh;
    margin-top: 10rem;
    color: white;
    margin-left: 10px;


}

.sec1 .section-1 .apresenta h1 {
    font-size: 50px;
}

.sec1 .section-1 .apresenta .row {

    margin-left: 10px;
    margin-top: 5px;

}

.sec1 .section-1 .apresenta .row .col {
    padding: 5px;
}

.material-icons {
    width: 24px;
    overflow: hidden;
    vertical-align: middle;
}

.material-icons.tiny {
    font-size: 1rem;
    width: 1rem;
    overflow: hidden;
}

.material-icons.small {
    font-size: 2rem;
    width: 2rem;
    overflow: hidden;
}

.material-icons.medium {
    font-size: 4rem;
    width: 4rem;
    overflow: hidden;
}

.material-icons.large {
    font-size: 6rem;
    width: 6rem;
    overflow: hidden;
}

.material-icons.extra-large {
    font-size: 10rem;
    width: 10rem;
    overflow: hidden;
}